.change_password_box {
    flex: 1;

    .input_box {
        .form_group:not(:first-child) {
            margin-top: fn_calc($v: 50);
        }
    }
    .block_btn {
        margin-top: fn_calc($v: 60);
    }
}

@media (min-width: $media_base) {
    .change_password_box {
        .input_box {
            .form_group:not(:first-child) {
                margin-top: 50px;
            }
        }
        .block_btn {
            margin-top: 60px;
        }
    }
}
