.faq_box_wrapper {
    .category_list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        align-items: center;
        scroll-behavior: smooth;
        width: calc(100% + calc(100vw * (90 / 640)));
        margin-left: calc(100vw * (-45 / 640));
        padding: 0 calc(100vw * (45 / 640)) calc(100vw * (20 / 640));

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            position: relative;

            &:not(:first-child) {
                margin-left: calc(100vw * (10 / 640));
            }

            input[type="radio"] {
                visibility: hidden;
                width: 0;
                height: 0;
                padding: 0;
                margin: 0;
                opacity: 0;
                position: absolute;

                + label {
                    white-space: nowrap;
                    height: calc(100vw * (50 / 640));
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-size: calc(100vw * (20 / 640));
                    letter-spacing: calc(100vw * (-1.2 / 640));
                    border-radius: calc(100vw * (30 / 640));
                    border: 2px solid $color_gray;
                    padding: 0 calc(100vw * (40 / 640));
                    color: $color_gray;
                    box-shadow: 0 calc(100vw * (5 / 640)) calc(100vw * (15 / 640)) rgba(0, 0, 0, 0);
                    transition: all 0.3s;
                }

                &:checked {
                    + label {
                        background-color: $color_primary;
                        border: 2px solid $color_primary;
                        box-shadow: 0 calc(100vw * (5 / 640)) calc(100vw * (15 / 640)) rgba(0, 0, 0, 0.3);
                        color: $color_light;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }

    .collapse_box {
        margin-top: calc(100vw * (30 / 640));

        .collapse_item {
            position: relative;
            width: 100%;
            padding: calc(100vw * (34 / 640)) 0;
            border-bottom: 1px solid $color_gray;

            &:first-child {
                border-top: 1px solid $color_gray;
            }

            &.open {
                .hide_box {
                    display: block;
                }

                .header {
                    .title {
                        white-space: normal;
                        overflow: visible;
                        text-overflow: initial;
                    }

                    .img_box {
                        transform: rotate(180deg);
                        transition: transform 0.3s;

                        img {
                            opacity: 0;
                            transition: opacity 0.3s;

                            &.reverse {
                                opacity: 1;
                                transition: opacity 0.3s;
                            }
                        }
                    }
                }
            }

            .header {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: space-between;

                .title {
                    pointer-events: none;
                    font-weight: 500;
                    font-size: calc(100vw * (20 / 640));
                    line-height: calc(100vw * (24 / 640));
                    height: calc(100vw * (24 / 640));
                    letter-spacing: calc(100vw * (-1.2 / 640));
                    width: 100%;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .img_box {
                    pointer-events: none;
                    position: relative;
                    width: calc(100vw * (23 / 640));
                    height: calc(100vw * (17 / 640));
                    margin-top: calc(100vw * (3 / 640));
                    transform-origin: center;
                    transform: rotate(0deg);
                    transition: transform 0.3s;

                    img {
                        position: absolute;
                        display: block;
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: opacity 0.3s;

                        &.reverse {
                            opacity: 0;
                            transition: opacity 0.3s;
                        }
                    }
                }
            }

            .hide_box {
                display: none;
                height: 0;
                overflow-y: hidden;

                p {
                    position: relative;
                    padding-top: calc(100vw * (34 / 640));
                    margin-top: calc(100vw * (34 / 640));
                    font-weight: 300;
                    font-size: calc(100vw * (18 / 640));
                    line-height: calc(100vw * (24 / 640));
                    letter-spacing: calc(100vw * (-0.9 / 640));
                    word-break: keep-all;

                    &:before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: calc(100vw * (100 / 640));
                        height: 1px;
                        background-color: $color_gray;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 640px) {
    .faq_box_wrapper {
        .category_list {
            width: calc(100% + 90px);
            margin-left: -45px;
            padding: 0 45px 20px;

            li {
                &:not(:first-child) {
                    margin-left: 10px;
                }

                input[type="radio"] {
                    + label {
                        height: 50px;
                        font-size: 20px;
                        letter-spacing: -1.2px;
                        border-radius: 30px;
                        padding: 0 40px;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
                    }

                    &:checked {
                        + label {
                            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }

        .collapse_box {
            margin-top: 30px;

            .collapse_item {
                padding: 34px 0;

                .header {
                    .title {
                        font-size: 20px;
                        line-height: 24px;
                        height: 24px;
                        letter-spacing: -1.2px;
                    }

                    .img_box {
                        width: 23px;
                        height: 17px;
                        margin-top: 3px;
                    }
                }

                .hide_box {
                    p {
                        padding-top: 34px;
                        margin-top: 34px;
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: -0.9px;

                        &:before {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}
