.input_box {
    margin-top: fn_calc($v: 65);
}

.form_input {
    &.login_input {
        color: $color_light;
        &::placeholder {
            color: $color_light;
        }
        + span {
            background-color: $color_light;
            opacity: 0.5;
        }
    }

    &.regist_input,
    &.qnafaq_input {
        color: $color_dark;
        &::placeholder {
            color: $color_gray;
        }
        ~ span {
            background-color: $color_gray;
        }
    }

    &:focus ~ span:after {
        width: 100%;
        transition: width 0.3s ease-in-out;
    }
}

.input_icon {
    display: block;
    position: absolute;
    right: 0;
    opacity: 0;
    display: none;
    bottom: fn_calc($v: 22);

    &.delete {
        width: fn_calc($v: 22);
        height: fn_calc($v: 22);
    }
    &.show_password {
        width: fn_calc($v: 32);
        height: fn_calc($v: 22);
        img {
            display: none;
        }
    }

    img {
        @include objectfit {
            object-fit: contain;
        }
    }
}

@media (min-width: $media_base) {
    .input_box {
        margin-top: 65px;
    }

    .input_icon {
        bottom: 22px;

        &.delete {
            width: 22px;
            height: 22px;
        }
        &.show_password {
            width: 32px;
            height: 22px;
        }
    }
}
