.qna_box_wrapper {
    @import "input_box";

    .input_box {
        margin-top: 0;
        .form_group {
            &:not(:first-child) {
                margin-top: calc(100vw * (50 / 640));
            }
        }
    }

    .radio_box {
        margin-top: calc(100vw * (50 / 640));

        .form_group {
            &:not(:first-child) {
                margin-top: calc(100vw * (50 / 640));
            }
        }

        .radio_list {
            margin-top: calc(100vw * (24 / 640));

            li:not(:first-child) {
                margin-top: calc(100vw * (20 / 640));
            }
        }
    }

    .text_area_box {
        margin-top: calc(100vw * (56 / 640));
    }

    .attach_file_box {
        border-bottom: 1px solid $color_gray;
        padding-bottom: calc(100vw * (15 / 640));
        margin-top: calc(100vw * (48 / 640));

        .form_group {
            margin-top: calc(100vw * (30 / 640));
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }

        .front_icon {
            width: calc(100vw * (20 / 640));
            height: calc(100vw * (19 / 640));
        }

        .fake_input {
            flex: 1;
            padding: 0 calc(100vw * (15 / 640));
            background-color: transparent;
            width: 100%;
            font-weight: 500;
            font-size: calc(100vw * (25 / 640));
            line-height: calc(100vw * (35 / 640));
            letter-spacing: calc(100vw * (-0.5 / 640));
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .btn_delete_file {
            position: relative;
            width: calc(100vw * (20 / 640));
            height: calc(100vw * (20 / 640));

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }

    .send_box button {
        margin-top: calc(100vw * (50 / 640));
    }
}

.email_list {
    overflow: auto;
    transform-origin: bottom;
    transform: translateY(calc(100vw * (-10 / 640)));
    position: absolute;
    z-index: 2;
    background-color: $color_light;
    width: calc(100% + calc(100vw * (12 / 640)));
    margin-left: calc(100vw * (-12 / 640));
    display: none;
    height: 0;
    border: 1px solid $color_lightdark;

    li {
        height: calc(100vw * (60 / 640));
        padding: calc(100vw * (18 / 640)) calc(100vw * (12 / 640));
        display: flex;
        align-items: center;

        &:not(:last-child) {
            border-bottom: 1px solid $color_gray;
        }

        span {
            color: $color_dark;
            font-weight: 500;
            font-size: calc(100vw * (23 / 640));
            line-height: calc(100vw * (23 / 640));
            letter-spacing: calc(100vw * (-0.46 / 640));

            &.email_address {
                color: $color_primary;
            }
        }
    }
}

@media (min-width: 640px) {
    .qna_box_wrapper {
        .input_box {
            .form_group {
                &:not(:first-child) {
                    margin-top: 50px;
                }
            }
        }

        .radio_box {
            margin-top: 50px;

            .form_group {
                &:not(:first-child) {
                    margin-top: 50px;
                }
            }

            .radio_list {
                margin-top: 24px;

                li:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }

        .text_area_box {
            margin-top: 56px;
        }

        .attach_file_box {
            padding-bottom: 15px;
            margin-top: 48px;

            .form_group {
                margin-top: 30px;
            }

            .front_icon {
                width: 20px;
                height: 19px;
            }

            .fake_input {
                padding: 0 15px;
                font-size: 25px;
                line-height: 35px;
                letter-spacing: -0.5px;
            }

            .btn_delete_file {
                width: 20px;
                height: 20px;
            }
        }

        .send_box button {
            margin-top: 50px;
        }
    }

    .email_list {
        transform: translateY(-10px);
        width: calc(100% + 12px);
        margin-left: -12px;

        li {
            height: 60px;
            padding: 18px 12px;

            span {
                font-size: 23px;
                line-height: 23px;
                letter-spacing: -0.46px;
            }
        }
    }
}
