@import '_variable';

body {
    &.popup_on,
    &.alert_on,
    &.modal_on {
        overflow: hidden;
    }
}

.alert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bgToneDown 0.3s forwards;
}

.alert_container {
    width: fn_calc($v: 400);
    padding: fn_calc($v: 80) fn_calc($v: 40) fn_calc($v: 60);
    background-color: $color_light;
    position: relative;
    box-shadow: 0 0 fn_calc($v: 10) rgba(0, 0, 0, 0.3);
    animation: scaleUp 0.15s ease-in-out forwards;
    z-index: 1;

    .title {
        font-weight: 700;
        font-size: fn_calc($v: 35);
        line-height: fn_calc($v: 35);
        letter-spacing: fn_calc($v: -2.1);
        color: $color_dark;
        word-break: keep-all;
        text-align: center;
    }

    .content {
        font-weight: 500;
        margin-top: fn_calc($v: 25);
        margin-bottom: fn_calc($v: 60);
        font-size: fn_calc($v: 23);
        line-height: fn_calc($v: 37);
        letter-spacing: fn_calc($v: -1.38);
        color: $color_dark;
        word-break: keep-all;
        text-align: center;
    }

    .btn_group {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        left: 0;
        bottom: 0;
        width: 100%;
        height: fn_calc($v: 60);

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            background-color: $color_dark;
            color: $color_light;
            font-weight: 300;
            font-size: fn_calc($v: 25);
            line-height: fn_calc($v: 25);
            letter-spacing: fn_calc($v: -0.25);

            &:not(:last-child) {
                border-right: 1px solid $color_light;
            }
        }
    }

    + .back {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: bgToneDown 0.3s forwards;
}

.popup_container {
    max-height: 80%;
    height: fn_calc($v: 1045);
    width: 100%;
    z-index: 1;
    border-top-left-radius: fn_calc($v: 30);
    border-top-right-radius: fn_calc($v: 30);
    background-color: $color_light;
    box-shadow: 0 0 fn_calc($v: 10) rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform-origin: bottom;
    transform: translateY(100%);
    animation: popupSlideUp 0.3s ease-in-out forwards;

    &.closing {
        animation: popupSlideDown 0.3s ease-in-out forwards;
    }

    .popup_close {
        width: fn_calc($v: 140);
        height: fn_calc($v: 50);
        padding: fn_calc($v: 20);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
            content: '';
            display: block;
            width: fn_calc($v: 100);
            height: fn_calc($v: 10);
            background-color: $color_gray;
        }
    }
    .popup_content {
        flex: 1;
        margin-top: fn_calc($v: 28);
        overflow: auto;
        padding: 0 fn_calc($v: 60);
        width: 100%;

        .title {
            font-weight: 700;
            font-size: fn_calc($v: 30);
            line-height: fn_calc($v: 55);
            letter-spacing: fn_calc($v: -1.8);
            margin-bottom: fn_calc($v: 35);
        }

        .text {
            white-space: pre-wrap;
            font-weight: 300;
            font-size: fn_calc($v: 18);
            line-height: fn_calc($v: 35);
            letter-spacing: fn_calc($v: -1.26);
        }
    }
    .popup_footer_btn {
        width: 100%;
        height: fn_calc($v: 100);
        font-weight: 500;
        font-size: fn_calc($v: 25);
        line-height: fn_calc($v: 25);
        letter-spacing: fn_calc($v: -1.5);
        background-color: $color_primary;
        color: $color_light;
    }

    + .back {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: $media_base) {
    .alert_container {
        width: 400px;
        padding: 80px 40px 60px;

        .title {
            font-size: 35px;
            line-height: 35px;
            letter-spacing: -2.1px;
        }

        .content {
            margin-top: 25px;
            margin-bottom: 60px;
            font-size: 23px;
            line-height: 37px;
            letter-spacing: -1.38px;
        }

        .btn_group {
            height: 60px;

            button {
                font-size: 25px;
                line-height: 25px;
                letter-spacing: -0.25px;
            }
        }
    }

    .popup_container {
        height: 1045px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        .popup_close {
            width: 140px;
            height: 50px;
            padding: 20px;

            &:after {
                width: 100px;
                height: 10px;
            }
        }
        .popup_content {
            margin-top: 28px;
            padding: 0 60px;

            .title {
                font-size: 30px;
                line-height: 55px;
                letter-spacing: -1.8px;
                margin-bottom: 35px;
            }

            .text {
                font-size: 18px;
                line-height: 35px;
                letter-spacing: -1.26px;
            }
        }
        .popup_footer_btn {
            height: 100px;
            font-size: 25px;
            line-height: 25px;
            letter-spacing: -1.5px;
        }
    }
}
