@import "variable";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: mgothic, sans-serif;
    // outline: 1px solid rgba(255, 0, 0, 0.1);
    -webkit-tap-highlight-color:transparent;
}
body {
    background-color: $color_dark;
}
input,
button {
    border: 0;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}
a {
    text-decoration: none;
}
button,
a {
    cursor: pointer;
}
img {
    display: block;
}
.hidden,
*[hidden] {
    display: none !important;
}

.logo {
    position: relative;
    width: fn_calc($v: 152);
    height: fn_calc($v: 62);
    margin-top: fn_calc($v: 40);
    img {
        @include objectfit;
    }
}

.container {
    max-width: $media_base;
    margin: 0 auto;
    min-height: 100vh;
}

.container.sub {
    background: url("#{$base_url}bg_sub.png") no-repeat 100%;
    background-size: cover;
    padding-bottom: fn_calc($v: 40);
}

.sub_header {
    position: relative;
    width: 100%;
    padding: fn_calc($v: 50) fn_calc($v: 40) fn_calc($v: 32);

    a {
        display: block;
        position: relative;
        width: fn_calc($v: 20);
        height: fn_calc($v: 28);
        img {
            @include objectfit;
        }
    }
}
.sub_wrapper {
    margin: 0 fn_calc($v: 40);
    padding: fn_calc($v: 48) fn_calc($v: 45);
    border-radius: fn_calc($v: 30);
    background-color: $color_light;

    h2 {
        font-weight: 700;
        font-size: fn_calc($v: 40);
        line-height: fn_calc($v: 55);
        letter-spacing: fn_calc($v: -2.4);
    }
}
.form_group {
    position: relative;

    label {
        font-weight: 300;
        font-size: fn_calc($v: 30);
        line-height: fn_calc($v: 38);
        letter-spacing: fn_calc($v: -1.8);
        color: $color_semidark;
        word-break: keep-all;
    }
}

textarea {
    outline: none !important;
    border: 0 !important;
    
    &.form_input {
        resize: none;
        margin-top: calc(100vw * (20 / 640));
        height: calc(100vw * (55 / 640));
        padding: calc(100vw * (10 / 640)) 0;
    }

    ~ span {
        background-color: $color_gray;
    }
}
.form_input {
    background-color:red !important;
    height: fn_calc($v: 70);
    background-color: transparent;
    width: 100%;
    font-weight: 500;
    font-size: fn_calc($v: 25);
    line-height: fn_calc($v: 35);
    letter-spacing: fn_calc($v: -0.5);
    position: relative;

    &::placeholder {
        font-weight: 500;
        font-size: fn_calc($v: 25);
        line-height: fn_calc($v: 35);
        letter-spacing: fn_calc($v: -0.5);
        opacity: 0.5;
    }

    &:focus + span:after {
        width: 100%;
        transition: width 0.3s ease-in-out;
    }

    ~ span {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: fn_calc($v: 10);
        height: fn_calc($v: 2);
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: fn_calc($v: 5);
            background-color: $color_dark;
            transition: width 0.3s;
        }
    }

    &.error ~ .error_message {
        animation: slideDownError 0.3s forwards;
    }

    ~ .error_message {
        position: absolute;
        left: 0;
        transform: translateY(0%);
        animation: slideUpError 0.3s forwards;

        p {
            color: $color_danger;
            font-weight: 500;
            font-size: fn_calc($v: 18);
            line-height: fn_calc($v: 18);
            letter-spacing: fn_calc($v: -1.08);
        }
    }
}
.block_btn {
    margin-top: fn_calc($v: 34);
    width: 100%;
    height: fn_calc($v: 67);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_primary;
    color: $color_light;
    font-weight: 500;
    font-size: fn_calc($v: 25);
    line-height: fn_calc($v: 25);
    letter-spacing: fn_calc($v: -1.5);
    border-radius: fn_calc($v: 30);
    transition: background-color 0.3s;

    &.transparent {
        background-color: transparent;
        border: 3px solid $color_lightdark;
        color: $color_lightdark;
    }

    &[disabled] {
        background-color: $color_lightdark;
        transition: background-color 0.3s;
    }
}
.form_checkbox {
    display: flex;
    align-items: center;
    margin-right: fn_calc($v: -7);

    .form_label {
        font-weight: 500;
        font-size: fn_calc($v: 20);
        line-height: fn_calc($v: 20);
        letter-spacing: fn_calc($v: -1.2);
    }

    .fake_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fn_calc($v: 37);
        height: fn_calc($v: 37);
        border: 1px solid $color_dark;
        border-radius: 50%;
        margin: 0 fn_calc($v: 7);
        transition: border-color 0.3s, background-color 0.3s;

        &:after {
            content: "";
            display: block;
            width: fn_calc($v: 21.8);
            height: fn_calc($v: 16.5);
            background: url("#{$base_url}check_white.svg") no-repeat 100%;
            background-size: contain;
            transform-origin: center;
            transform: scale(0);
        }
    }

    > input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked {
        ~ .fake_box {
            border-color: $color_primary;
            background-color: $color_primary;
            transition: border-color 0.3s, background-color 0.3s;

            &:after {
                animation: scaleUpdown 0.3s ease-in-out forwards;
            }
        }
    }
}

.form_radiobox {
    display: flex;
    align-items: center;

    .form_label {
        font-weight: 500;
        font-size: fn_calc($v: 20);
        line-height: fn_calc($v: 20);
        letter-spacing: fn_calc($v: -1.2);
    }

    > input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked {
        ~ .fake_box {
            border-color: $color_primary;
            background-color: $color_primary;
            transition: border-color 0.3s, background-color 0.3s;

            &:after {
                animation: scaleUpdown 0.3s ease-in-out forwards;
            }
        }
    }

    .fake_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fn_calc($v: 37);
        height: fn_calc($v: 37);
        border: 1px solid $color_dark;
        border-radius: 50%;
        margin: 0 fn_calc($v: 7);
        transition: border-color 0.3s, background-color 0.3s;

        &:after {
            content: "";
            display: block;
            width: fn_calc($v: 21.8);
            height: fn_calc($v: 16.5);
            background: url("#{$base_url}check_white.svg") no-repeat 100%;
            background-size: contain;
            transform-origin: center;
            transform: scale(0);
        }
    }
}

.image_uploader {
    input[type="file"] {
        display: none;
    }
    label {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: $media_base) {
    .form_group {
        label {
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -1.8px;
        }
    }

    textarea {
        &.form_input {
            margin-top: 20px;
            height: 55px;
            padding: 10px 0;
        }
    }

    .form_input {
        height: 70px;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: -0.5px;

        &::placeholder {
            font-weight: 500;
            font-size: 25px;
            line-height: 35px;
            letter-spacing: -0.5px;
        }

        ~ span {
            bottom: 10px;
            height: 2px;
            &:after {
                height: 5px;
            }
        }

        ~ .error_message {
            p {
                font-size: 18px;
                line-height: 18px;
                letter-spacing: -1.08px;
            }
        }
    }

    .block_btn {
        margin-top: 34px;
        height: 67px;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -1.5px;
        border-radius: 30px;
    }

    .form_checkbox {
        margin-right: -7px;

        .form_label {
            font-size: 20px;
            line-height: 20px;
            letter-spacing: -1.2px;
        }

        .fake_box {
            width: 37px;
            height: 37px;
            margin: 0 7px;

            &:after {
                width: 21.8px;
                height: 16.5px;
            }
        }
    }

    .form_radiobox {
        .form_label {
            font-size: 20px;
            line-height: 20px;
            letter-spacing: -1.2px;
        }
        .fake_box {
            width: 37px;
            height: 37px;
            margin: 0 7px;

            &:after {
                width: 21.8px;
                height: 16.5px;
            }
        }
    }

    .logo {
        width: 152px;
        height: 62px;
        margin-top: 40px;
    }

    .container {
        padding-bottom: 40px;
    }

    .sub_header {
        padding: 50px 40px 32px;

        a {
            width: 20px;
            height: 28px;
        }
    }

    .sub_wrapper {
        margin: 0 40px;
        padding: 48px 45px;
        border-radius: 30px;

        h2 {
            font-size: 40px;
            line-height: 55px;
            letter-spacing: -2.4px;
        }
    }
}
