$fonts: (
  "100": "010",
  "200": "020",
  "300": "030",
  "400": "040",
  "500": "050",
  "600": "060",
  "700": "070",
  "800": "080",
  "900": "090",
  "1000": "100",
);
@each $key, $value in $fonts {
  @font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic#{$value}.ttf");
    font-weight: #{$key};
    font-style: normal;
  }
}
