@import "variable";
@import "font";

.history_box {
    min-height: calc(100vh - calc(100vw * (150 / 640)));
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .collapse_box {
        margin-top: calc(100vw * (30 / 640));

        .collapse_item {
            position: relative;
            width: 100%;
            padding: calc(100vw * (34 / 640)) 0;
            border-bottom: 1px solid $color_gray;

            .info_box {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: calc(100vw * (30 / 640));

                .status {
                    padding: 0 calc(100vw * (20 / 640));
                    height: calc(100vw * (35 / 640));
                    font-weight: 500;
                    font-size: calc(100vw * (18 / 640));
                    letter-spacing: calc(100vw * (-0.4 / 640));
                    display: flex;
                    border-radius: calc(100vw * (30 / 640));
                    justify-content: center;
                    align-items: center;
                    color: $color_light;

                    &.waiting {
                        background-color: $color_gray;
                    }

                    &.complete {
                        background-color: $color_primary;
                    }
                }

                .right_box {
                    font-weight: 500;
                    font-size: calc(100vw * (16 / 640));
                    line-height: calc(100vw * (16 / 640));
                    letter-spacing: calc(100vw * (-1.2 / 640));
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    .category {
                        margin-right: calc(100vw * (10 / 640));
                    }
                }
            }

            &:first-child {
                border-top: 1px solid $color_gray;
            }

            &.open {
                .hide_box {
                    display: block;
                }

                .header {
                    .title {
                        white-space: normal;
                        overflow: visible;
                        text-overflow: initial;
                    }

                    .img_box {
                        transform: rotate(180deg);
                        transition: transform 0.3s;

                        img {
                            opacity: 0;
                            transition: opacity 0.3s;

                            &.reverse {
                                opacity: 1;
                                transition: opacity 0.3s;
                            }
                        }
                    }
                }
            }

            .header {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: space-between;

                .title {
                    pointer-events: none;
                    font-weight: 500;
                    font-size: calc(100vw * (20 / 640));
                    line-height: calc(100vw * (24 / 640));
                    height: calc(100vw * (24 / 640));
                    letter-spacing: calc(100vw * (-1.2 / 640));
                    width: 100%;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .img_box {
                    pointer-events: none;
                    position: relative;
                    width: calc(100vw * (23 / 640));
                    height: calc(100vw * (17 / 640));
                    margin-top: calc(100vw * (3 / 640));
                    transform-origin: center;
                    transform: rotate(0deg);
                    transition: transform 0.3s;

                    img {
                        position: absolute;
                        display: block;
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: opacity 0.3s;

                        &.reverse {
                            opacity: 0;
                            transition: opacity 0.3s;
                        }
                    }
                }
            }

            .hide_box {
                display: none;
                height: 0;
                overflow-y: hidden;

                .content {
                    position: relative;
                    padding-top: calc(100vw * (34 / 640));
                    margin-top: calc(100vw * (34 / 640));
                    font-weight: 300;
                    font-size: calc(100vw * (18 / 640));
                    line-height: calc(100vw * (24 / 640));
                    letter-spacing: calc(100vw * (-0.9 / 640));
                    word-break: keep-all;

                    &:before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: calc(100vw * (100 / 640));
                        height: 1px;
                        background-color: $color_gray;
                        left: 0;
                        top: 0;
                    }

                    .a {
                        position: relative;
                        font-weight: 500;
                        padding: calc(100vw * (15 / 640)) calc(100vw * (25 / 640));
                        background-color: $color_beige;
                        // border-radius: calc(100vw * (30 / 640));
                        margin-top: calc(100vw * (25 / 640));

                        .date {
                            text-align: right;
                            font-weight: 300;
                            font-size: calc(100vw * (16 / 640));
                            line-height: calc(100vw * (16 / 640));
                            letter-spacing: calc(100vw * (-1.2 / 640));
                            margin-top: calc(100vw * (20 / 640));
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 640px) {
    .history_box {
        min-height: calc(100vh - 150px);

        .collapse_box {
            margin-top: 30px;

            .collapse_item {
                padding: 34px 0;

                .info_box {
                    margin-bottom: 30px;

                    .status {
                        padding: 0 20px;
                        height: 35px;
                        font-size: 18px;
                        letter-spacing: -0.4px;
                        border-radius: 30px;
                    }

                    .right_box {
                        font-size: 16px;
                        line-height: 16px;
                        letter-spacing: -1.2px;

                        .category {
                            margin-right: 10px;
                        }
                    }
                }

                .header {
                    .title {
                        font-size: 20px;
                        line-height: 24px;
                        height: 24px;
                        letter-spacing: -1.2px;
                    }

                    .img_box {
                        width: 23px;
                        height: 17px;
                        margin-top: 3px;
                    }
                }

                .hide_box {
                    .content {
                        padding-top: 34px;
                        margin-top: 34px;
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: -0.9px;

                        &:before {
                            width: 100px;
                        }

                        .a {
                            padding: 15px 25px;
                            margin-top: 25px;

                            .date {
                                font-size: 16px;
                                line-height: 16px;
                                letter-spacing: -1.2px;
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
