@keyframes bgToneDown {
  0% {
    background-color: rgba(0, 0, 0, 0); }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@keyframes bgToneUp {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  100% {
    background-color: rgba(0, 0, 0, 0); } }
@keyframes scaleUp {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes slideUpError {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    opacity: 0; } }
@keyframes slideDownError {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }
@keyframes scaleUpdown {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes popupSlideUp {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }
@keyframes popupSlideDown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(100%); } }
@keyframes tabMenuSlideLeft {
  0% {
    left: 0%; }
  100% {
    left: 50%; } }
@keyframes tabMenuSlideRight {
  0% {
    left: 50%; }
  100% {
    left: 0%; } }
@keyframes onCharacterSelecter {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }
@keyframes offCharacterSelecter {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  100% {
    transform: translateY(110%);
    opacity: 0; } }

