body.popup_on,
body.alert_on,
body.modal_on {
    overflow: hidden;
}

.alert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: bgToneDown 0.3s forwards;
    animation: bgToneDown 0.3s forwards;
}

.alert_container {
    width: calc(100vw * (400 / 640));
    padding: calc(100vw * (80 / 640)) calc(100vw * (40 / 640)) calc(100vw * (60 / 640));
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 calc(100vw * (10 / 640)) rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 calc(100vw * (10 / 640)) rgba(0, 0, 0, 0.3);
    -webkit-animation: scaleUp 0.15s ease-in-out forwards;
    animation: scaleUp 0.15s ease-in-out forwards;
    z-index: 1;
}

.alert_container .title {
    font-weight: 700;
    font-size: calc(100vw * (35 / 640));
    line-height: calc(100vw * (35 / 640));
    letter-spacing: calc(100vw * (-2.1 / 640));
    color: #000;
    word-break: keep-all;
    text-align: center;
}

.alert_container .content {
    font-weight: 500;
    margin-top: calc(100vw * (25 / 640));
    margin-bottom: calc(100vw * (60 / 640));
    font-size: calc(100vw * (23 / 640));
    line-height: calc(100vw * (37 / 640));
    letter-spacing: calc(100vw * (-1.38 / 640));
    color: #000;
    word-break: keep-all;
    text-align: center;
}

.alert_container .btn_group {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vw * (60 / 640));
}

.alert_container .btn_group button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-weight: 300;
    font-size: calc(100vw * (25 / 640));
    line-height: calc(100vw * (25 / 640));
    letter-spacing: calc(100vw * (-0.25 / 640));
}

.alert_container .btn_group button:not(:last-child) {
    border-right: 1px solid #fff;
}

.alert_container + .back {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-animation: bgToneDown 0.3s forwards;
    animation: bgToneDown 0.3s forwards;
}

.popup_container {
    max-height: 80%;
    height: calc(100vw * (1045 / 640));
    width: 100%;
    z-index: 1;
    border-top-left-radius: calc(100vw * (30 / 640));
    border-top-right-radius: calc(100vw * (30 / 640));
    background-color: #fff;
    -webkit-box-shadow: 0 0 calc(100vw * (10 / 640)) rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 calc(100vw * (10 / 640)) rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-animation: popupSlideUp 0.3s ease-in-out forwards;
    animation: popupSlideUp 0.3s ease-in-out forwards;
}

.popup_container.closing {
    -webkit-animation: popupSlideDown 0.3s ease-in-out forwards;
    animation: popupSlideDown 0.3s ease-in-out forwards;
}

.popup_container .popup_close {
    width: calc(100vw * (140 / 640));
    height: calc(100vw * (50 / 640));
    padding: calc(100vw * (20 / 640));
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup_container .popup_close:after {
    content: "";
    display: block;
    width: calc(100vw * (100 / 640));
    height: calc(100vw * (10 / 640));
    background-color: #d2d2d2;
}

.popup_container .popup_content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: calc(100vw * (28 / 640));
    overflow: auto;
    padding: 0 calc(100vw * (60 / 640));
    width: 100%;
}

.popup_container .popup_content .title {
    font-weight: 700;
    font-size: calc(100vw * (30 / 640));
    line-height: calc(100vw * (55 / 640));
    letter-spacing: calc(100vw * (-1.8 / 640));
    margin-bottom: calc(100vw * (35 / 640));

    display: none;
}

.popup_container .popup_content .text {
    white-space: pre-wrap;
    font-weight: 300;
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (35 / 640));
    letter-spacing: calc(100vw * (-1.26 / 640));
}

.popup_container .popup_footer_btn {
    width: 100%;
    height: calc(100vw * (100 / 640));
    font-weight: 500;
    font-size: calc(100vw * (25 / 640));
    line-height: calc(100vw * (25 / 640));
    letter-spacing: calc(100vw * (-1.5 / 640));
    background-color: #68c0b5;
    color: #fff;
}

.popup_container + .back {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 640px) {
    .alert_container {
        width: 400px;
        padding: 80px 40px 60px;
    }
    .alert_container .title {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -2.1px;
    }
    .alert_container .content {
        margin-top: 25px;
        margin-bottom: 60px;
        font-size: 23px;
        line-height: 37px;
        letter-spacing: -1.38px;
    }
    .alert_container .btn_group {
        height: 60px;
    }
    .alert_container .btn_group button {
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.25px;
    }
    .popup_container {
        height: 1045px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .popup_container .popup_close {
        width: 140px;
        height: 50px;
        padding: 20px;
    }
    .popup_container .popup_close:after {
        width: 100px;
        height: 10px;
    }
    .popup_container .popup_content {
        margin-top: 28px;
        padding: 0 60px;
    }
    .popup_container .popup_content .title {
        font-size: 30px;
        line-height: 55px;
        letter-spacing: -1.8px;
        margin-bottom: 35px;
    }
    .popup_container .popup_content .text {
        font-size: 18px;
        line-height: 35px;
        letter-spacing: -1.26px;
    }
    .popup_container .popup_footer_btn {
        height: 100px;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -1.5px;
    }
}
