@import url('https://iandna-contents.s3.ap-northeast-2.amazonaws.com/ivory/font/pretendard/font.css');

/* global font family */
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
    font-family: 'ivory_pretendard';
}

.MG010,
.MG020,
.MG030 {
    font-weight: lighter;
}

.MG040,
.MG050 {
    font-weight: normal;
}

.MG060,
.MG070,
.MG080,
.MG090,
.MG100,
.DR210,
.georgia,
.georgiab,
.georgiai,
.georgiaz,
.monbaiti {
    font-weight: bold;
}

@font-face {
    font-family: "ivoryIcon";
    src: url("../fonts/ivoryIcon.eot?hzokfa");
    src: url("../fonts/ivoryIcon.eot?hzokfa#iefix") format("embedded-opentype"), url("../fonts/ivoryIcon.ttf?hzokfa") format("truetype"),
        url("../fonts/ivoryIcon.woff?hzokfa") format("woff"), url("../fonts/ivoryIcon.svg?hzokfa#ivoryIcon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="ivoryIcon-"],
[class*=" ivoryIcon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "ivoryIcon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ivoryIcon-adult:before {
    content: "\e900";
}

.ivoryIcon-all:before {
    content: "\e901";
}

.ivoryIcon-arrow_down:before {
    content: "\e902";
}

.ivoryIcon-arrow_left:before {
    content: "\e903";
}

.ivoryIcon-arrow_right:before {
    content: "\e904";
}

.ivoryIcon-arrow_up:before {
    content: "\e905";
}

.ivoryIcon-baby:before {
    content: "\e906";
}

.ivoryIcon-bell:before {
    content: "\e907";
}

.ivoryIcon-camera:before {
    content: "\e908";
}

.ivoryIcon-carecenter:before {
    content: "\e909";
}

.ivoryIcon-check:before {
    content: "\e90a";
}

.ivoryIcon-clock:before {
    content: "\e90b";
}

.ivoryIcon-close:before {
    content: "\e90c";
}

.ivoryIcon-couple:before {
    content: "\e90d";
}

.ivoryIcon-delete:before {
    content: "\e90e";
}

.ivoryIcon-education:before {
    content: "\e90f";
}

.ivoryIcon-fashion:before {
    content: "\e910";
}

.ivoryIcon-favorite:before {
    content: "\e911";
}

.ivoryIcon-favorite_outline:before {
    content: "\e912";
}

.ivoryIcon-female:before {
    content: "\e913";
}

.ivoryIcon-filter:before {
    content: "\e914";
}

.ivoryIcon-finance:before {
    content: "\e915";
}

.ivoryIcon-food:before {
    content: "\e916";
}

.ivoryIcon-gossip:before {
    content: "\e917";
}

.ivoryIcon-heart:before {
    content: "\e918";
}

.ivoryIcon-heart_outline:before {
    content: "\e919";
}

.ivoryIcon-home:before {
    content: "\e91a";
}

.ivoryIcon-interior:before {
    content: "\e91b";
}

.ivoryIcon-issue:before {
    content: "\e91c";
}

.ivoryIcon-male:before {
    content: "\e91d";
}

.ivoryIcon-more:before {
    content: "\e91e";
}

.ivoryIcon-movie:before {
    content: "\e91f";
}

.ivoryIcon-multi:before {
    content: "\e920";
}

.ivoryIcon-mycontent:before {
    content: "\e921";
}

.ivoryIcon-new:before {
    content: "\e922";
}

.ivoryIcon-notice:before {
    content: "\e923";
}

.ivoryIcon-parenting:before {
    content: "\e924";
}

.ivoryIcon-pet:before {
    content: "\e925";
}

.ivoryIcon-plus:before {
    content: "\e926";
}

.ivoryIcon-poll:before {
    content: "\e927";
}

.ivoryIcon-question:before {
    content: "\e928";
}

.ivoryIcon-quotes_bottom:before {
    content: "\e929";
}

.ivoryIcon-quotes_top:before {
    content: "\e92a";
}

.ivoryIcon-rectal:before {
    content: "\e92b";
}

.ivoryIcon-reply:before {
    content: "\e92c";
}

.ivoryIcon-reply_fill:before {
    content: "\e92d";
}

.ivoryIcon-report:before {
    content: "\e92e";
}

.ivoryIcon-report_fill:before {
    content: "\e92f";
}

.ivoryIcon-search:before {
    content: "\e930";
}

.ivoryIcon-setup:before {
    content: "\e931";
}

.ivoryIcon-share:before {
    content: "\e932";
}

.ivoryIcon-shopping:before {
    content: "\e933";
}

.ivoryIcon-society:before {
    content: "\e934";
}

.ivoryIcon-travel:before {
    content: "\e935";
}

.ivoryIcon-view:before {
    content: "\e936";
}

.ivoryIcon-vote:before {
    content: "\e937";
}

.ivoryIcon-vs:before {
    content: "\e938";
}

.ivoryIcon-wedding:before {
    content: "\e939";
}

.ivoryIcon-write:before {
    content: "\e93a";
}