@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic010.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic020.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic030.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic040.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic050.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic060.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic070.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic080.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic090.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic100.ttf");
    font-weight: 1000;
    font-style: normal;
}

.history_box {
    min-height: calc(100vh - calc(100vw * (150 / 640)));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.history_box .collapse_box {
    margin-top: calc(100vw * (30 / 640));
}

.history_box .collapse_box .collapse_item {
    position: relative;
    width: 100%;
    padding: calc(100vw * (34 / 640)) 0;
    border-bottom: 1px solid #d2d2d2;
}

.history_box .collapse_box .collapse_item .info_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: calc(100vw * (30 / 640));
}

.history_box .collapse_box .collapse_item .info_box .status {
    padding: 0 calc(100vw * (20 / 640));
    height: calc(100vw * (35 / 640));
    font-weight: 500;
    font-size: calc(100vw * (18 / 640));
    letter-spacing: calc(100vw * (-0.4 / 640));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: calc(100vw * (30 / 640));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

.history_box .collapse_box .collapse_item .info_box .status.waiting {
    background-color: #d2d2d2;
}

.history_box .collapse_box .collapse_item .info_box .status.complete {
    background-color: #68c0b5;
}

.history_box .collapse_box .collapse_item .info_box .right_box {
    font-weight: 500;
    font-size: calc(100vw * (16 / 640));
    line-height: calc(100vw * (16 / 640));
    letter-spacing: calc(100vw * (-1.2 / 640));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.history_box .collapse_box .collapse_item .info_box .right_box .category {
    margin-right: calc(100vw * (10 / 640));
}

.history_box .collapse_box .collapse_item:first-child {
    border-top: 1px solid #d2d2d2;
}

.history_box .collapse_box .collapse_item.open .hide_box {
    display: block;
}

.history_box .collapse_box .collapse_item.open .header .title {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
}

.history_box .collapse_box .collapse_item.open .header .img_box {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.history_box .collapse_box .collapse_item.open .header .img_box img {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.history_box .collapse_box .collapse_item.open .header .img_box img.reverse {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.history_box .collapse_box .collapse_item .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.history_box .collapse_box .collapse_item .header .title {
    pointer-events: none;
    font-weight: 500;
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (24 / 640));
    height: calc(100vw * (24 / 640));
    letter-spacing: calc(100vw * (-1.2 / 640));
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.history_box .collapse_box .collapse_item .header .img_box {
    pointer-events: none;
    position: relative;
    width: calc(100vw * (23 / 640));
    height: calc(100vw * (17 / 640));
    margin-top: calc(100vw * (3 / 640));
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.history_box .collapse_box .collapse_item .header .img_box img {
    position: absolute;
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.history_box .collapse_box .collapse_item .header .img_box img.reverse {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.history_box .collapse_box .collapse_item .hide_box {
    display: none;
    height: 0;
    overflow-y: hidden;
}

.history_box .collapse_box .collapse_item .hide_box .content {
    position: relative;
    padding-top: calc(100vw * (34 / 640));
    margin-top: calc(100vw * (34 / 640));
    font-weight: 300;
    font-size: calc(100vw * (18 / 640));
    line-height: calc(100vw * (24 / 640));
    letter-spacing: calc(100vw * (-0.9 / 640));
    word-break: keep-all;
}

.history_box .collapse_box .collapse_item .hide_box .content:before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100vw * (100 / 640));
    height: 1px;
    background-color: #d2d2d2;
    left: 0;
    top: 0;
}

.history_box .collapse_box .collapse_item .hide_box .content .a {
    position: relative;
    font-weight: 500;
    padding: calc(100vw * (15 / 640)) calc(100vw * (25 / 640));
    background-color: #ececec;
    margin-top: calc(100vw * (25 / 640));
}

.history_box .collapse_box .collapse_item .hide_box .content .a .date {
    text-align: right;
    font-weight: 300;
    font-size: calc(100vw * (16 / 640));
    line-height: calc(100vw * (16 / 640));
    letter-spacing: calc(100vw * (-1.2 / 640));
    margin-top: calc(100vw * (20 / 640));
}

@media (min-width: 640px) {
    .history_box {
        min-height: calc(100vh - 150px);
    }
    .history_box .collapse_box {
        margin-top: 30px;
    }
    .history_box .collapse_box .collapse_item {
        padding: 34px 0;
    }
    .history_box .collapse_box .collapse_item .info_box {
        margin-bottom: 30px;
    }
    .history_box .collapse_box .collapse_item .info_box .status {
        padding: 0 20px;
        height: 35px;
        font-size: 18px;
        letter-spacing: -0.4px;
        border-radius: 30px;
    }
    .history_box .collapse_box .collapse_item .info_box .right_box {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -1.2px;
    }
    .history_box .collapse_box .collapse_item .info_box .right_box .category {
        margin-right: 10px;
    }
    .history_box .collapse_box .collapse_item .header .title {
        font-size: 20px;
        line-height: 24px;
        height: 24px;
        letter-spacing: -1.2px;
    }
    .history_box .collapse_box .collapse_item .header .img_box {
        width: 23px;
        height: 17px;
        margin-top: 3px;
    }
    .history_box .collapse_box .collapse_item .hide_box .content {
        padding-top: 34px;
        margin-top: 34px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.9px;
    }
    .history_box .collapse_box .collapse_item .hide_box .content:before {
        width: 100px;
    }
    .history_box .collapse_box .collapse_item .hide_box .content .a {
        padding: 15px 25px;
        margin-top: 25px;
    }
    .history_box .collapse_box .collapse_item .hide_box .content .a .date {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -1.2px;
        margin-top: 20px;
    }
}
