.container.login {
    background: url("https://iandna-imgsvr.com/ivory/oauth/bg_login_small.jpg") no-repeat 100%;
    background-size: cover;

    /* 20220623 스크롤 가능하게 수정 ajy */
    height: 100vh;
    overflow-y: auto;
}
.container.login::-webkit-scrollbar {
    display: none;
}

.login_wrapper {
    padding: calc(100vw * (158 / 640)) calc(100vw * (60 / 640)) calc(100vw * (70 / 640));
    width: calc(100vw * (553 / 640));
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.login_wrapper .login_box .email_list {
    overflow: auto;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translateY(calc(100vw * (-10 / 640)));
    transform: translateY(calc(100vw * (-10 / 640)));
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: calc(100% + calc(100vw * (12 / 640)));
    margin-left: calc(100vw * (-12 / 640));
    display: none;
    height: 0;
    border: 1px solid #a5a5a5;
}
.login_wrapper .login_box .email_list li {
    height: calc(100vw * (60 / 640));
    padding: calc(100vw * (18 / 640)) calc(100vw * (12 / 640));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login_wrapper .login_box .email_list li:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}

.login_wrapper .login_box .email_list li span {
    color: #000;
    font-weight: 500;
    font-size: calc(100vw * (23 / 640));
    line-height: calc(100vw * (23 / 640));
    letter-spacing: calc(100vw * (-0.46 / 640));
}

.login_wrapper .login_box .email_list li span.email_address {
    color: #68c0b5;
}

.login_wrapper .login_box .input_box {
    margin-top: calc(100vw * (65 / 640));
}

.login_wrapper .login_box .form_input.login_input {
    color: #fff;
}

.login_wrapper .login_box .form_input.login_input::-webkit-input-placeholder {
    color: #fff;
}

.login_wrapper .login_box .form_input.login_input:-ms-input-placeholder {
    color: #fff;
}

.login_wrapper .login_box .form_input.login_input::-ms-input-placeholder {
    color: #fff;
}

.login_wrapper .login_box .form_input.login_input::placeholder {
    color: #fff;
}

.login_wrapper .login_box .form_input.login_input + span {
    background-color: #fff;
    opacity: 0.5;
}

.login_wrapper .login_box .form_input.regist_input,
.login_wrapper .login_box .form_input.qnafaq_input {
    color: #000;
}

.login_wrapper .login_box .form_input.regist_input::-webkit-input-placeholder,
.login_wrapper .login_box .form_input.qnafaq_input::-webkit-input-placeholder {
    color: #d2d2d2;
}

.login_wrapper .login_box .form_input.regist_input:-ms-input-placeholder,
.login_wrapper .login_box .form_input.qnafaq_input:-ms-input-placeholder {
    color: #d2d2d2;
}

.login_wrapper .login_box .form_input.regist_input::-ms-input-placeholder,
.login_wrapper .login_box .form_input.qnafaq_input::-ms-input-placeholder {
    color: #d2d2d2;
}

.login_wrapper .login_box .form_input.regist_input::placeholder,
.login_wrapper .login_box .form_input.qnafaq_input::placeholder {
    color: #d2d2d2;
}

.login_wrapper .login_box .form_input.regist_input ~ span,
.login_wrapper .login_box .form_input.qnafaq_input ~ span {
    background-color: #d2d2d2;
}

.login_wrapper .login_box .form_input:focus ~ span:after {
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.login_wrapper .login_box .input_icon {
    display: block;
    position: absolute;
    right: 0;
    opacity: 0;
    display: none;
    bottom: calc(100vw * (22 / 640));
}

.login_wrapper .login_box .input_icon.delete {
    width: calc(100vw * (22 / 640));
    height: calc(100vw * (22 / 640));
}

.login_wrapper .login_box .input_icon.show_password {
    width: calc(100vw * (32 / 640));
    height: calc(100vw * (22 / 640));
}

.login_wrapper .login_box .input_icon.show_password img {
    display: none;
}

.login_wrapper .login_box .input_icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (min-width: 640px) {
    .login_wrapper .login_box .input_box {
        margin-top: 65px;
    }
    .login_wrapper .login_box .input_icon {
        bottom: 22px;
    }
    .login_wrapper .login_box .input_icon.delete {
        width: 22px;
        height: 22px;
    }
    .login_wrapper .login_box .input_icon.show_password {
        width: 32px;
        height: 22px;
    }
}

.login_wrapper .login_box h1 {
    font-size: calc(100vw * (60 / 640));
    line-height: calc(100vw * (75 / 640));
    letter-spacing: calc(100vw * (-3.6 / 640));
    font-weight: 700;
    color: #fff;
}

@media (min-width: 640px) {
    .login_wrapper .login_box h1 {
        font-size: 60px;
        line-height: 75px;
        letter-spacing: -3.6px;
    }
}

.login_wrapper .btn_box_login {
    margin-top: calc(100vw * (40 / 640));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.login_wrapper .btn_box_login button,
.login_wrapper .btn_box_login a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
    height: calc(100vw * (67 / 640));
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-1.2 / 640));
    border-radius: calc(100vw * (30 / 640));
}

.login_wrapper .btn_box_login button:not(:last-child),
.login_wrapper .btn_box_login a:not(:last-child) {
    margin-bottom: calc(100vw * (20 / 640));
}

.login_wrapper .btn_box_login button.btn_login,
.login_wrapper .btn_box_login a.btn_login {
    background-color: #000;
    color: #fff;
}

.login_wrapper .btn_box_login .is_loading span {
    display: none;
}
.login_wrapper .btn_box_login img {
    display: none;
}
.login_wrapper .btn_box_login .is_loading img {
    display: block;
    animation: rotate_image 0.6s linear infinite;
    height: 70%;
    width: auto;
    opacity: 0.7;
}

.login_wrapper .btn_box_login button.btn_join,
.login_wrapper .btn_box_login a.btn_join {
    background-color: #fff;
    color: #000;
}

@media (min-width: 640px) {
    .login_wrapper .btn_box_login {
        margin-top: 40px;
    }
    .login_wrapper .btn_box_login button,
    .login_wrapper .btn_box_login a {
        height: 67px;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -1.2px;
        border-radius: 30px;
    }
    .login_wrapper .btn_box_login button:not(:last-child),
    .login_wrapper .btn_box_login a:not(:last-child) {
        margin-bottom: 20px;
    }
}

.login_wrapper .login_find_box {
    margin-top: calc(100vw * (47 / 640));
    position: relative;
}

.login_wrapper .login_find_box .find_btn_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.login_wrapper .login_find_box .find_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    color: #fff;
    opacity: 0.7;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: calc(100vw * (30 / 640));
    height: calc(100vw * (55 / 640));
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (35 / 640));
    letter-spacing: calc(100vw * (-1.2 / 640));
}

.login_wrapper .login_find_box .find_btn:not(:first-child) {
    margin-left: calc(100vw * (9 / 640));
}

.login_wrapper .login_guide_box {
    position: relative;
    width: 100%;
    margin-top: calc(100vw * (31 / 640));
    opacity: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-1.2 / 640));
}

.login_wrapper .login_guide_box .icon_left.kakaotalk {
    width: calc(100vw * (28 / 640));
    height: calc(100vw * (26 / 640));
}

.login_wrapper .login_guide_box .icon_left.more_help {
    width: calc(100vw * (26.7 / 640));
    height: calc(100vw * (26.7 / 640));
}

.login_wrapper .login_guide_box .icon_right {
    width: calc(100vw * (14 / 640));
    height: calc(100vw * (18 / 640));
}

.login_wrapper .login_guide_box span {
    margin: 0 calc(100vw * (7 / 640));
}

.login_wrapper .login_guide_box:active,
.login_wrapper .login_guide_box:focus,
.login_wrapper .login_guide_box:visited {
    color: #fff;
}

.kakao_wrapper {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.kakao_wrapper .sub_header {
    background-color: #fff;
}
.kakao_wrapper iframe {
    width: 100%;
    height: calc(100% - calc(100vw * (110 / 640)));
    border: 0;
}

@media (min-width: 640px) {
    .login_wrapper .login_find_box {
        margin-top: 47px;
    }
    .login_wrapper .login_find_box .find_btn {
        border-radius: 30px;
        height: 55px;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: -1.2px;
    }
    .login_wrapper .login_find_box .find_btn:not(:first-child) {
        margin-left: 9px;
    }
    .login_wrapper .login_guide_box {
        margin-top: 31px;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -1.2px;
    }
    .login_wrapper .login_guide_box .icon_left.kakaotalk {
        width: 28px;
        height: 26px;
    }
    .login_wrapper .login_guide_box .icon_left.more_help {
        width: 26.7px;
        height: 26.7px;
    }
    .login_wrapper .login_guide_box .icon_right {
        width: 14px;
        height: 18px;
    }
    .login_wrapper .login_guide_box span {
        margin: 0 7px;
    }
}

@media (min-width: 640px) {
    .login_wrapper {
        padding: 158px 60px 70px;
        width: 553px;
    }

    .login_wrapper .login_box .email_list {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        width: calc(100% + 12px);
        margin-left: -12px;
    }
    .login_wrapper .login_box .email_list li {
        height: 60px;
        padding: 18px 12px;
    }
    .login_wrapper .login_box .email_list li span {
        font-size: 23px;
        line-height: 23px;
        letter-spacing: -0.46px;
    }
    .kakao_wrapper iframe {
        height: calc(100% - 110px);
    }
}
