@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic010.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic020.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic030.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic040.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic050.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic060.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic070.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic080.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic090.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: mgothic;
    src: url("../fonts/mgothic100.ttf");
    font-weight: 1000;
    font-style: normal;
}

.result_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 10;
    padding: calc(100vw * (40 / 640));
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    -webkit-transform-origin: botton;
    transform-origin: botton;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-animation: popupSlideUp 0.3s forwards;
    animation: popupSlideUp 0.3s forwards;
}

.result_modal.closing {
    -webkit-animation: popupSlideDown 0.3s forwards;
    animation: popupSlideDown 0.3s forwards;
}

.result_modal .result_close {
    width: calc(100vw * (30 / 640));
    height: calc(100vw * (30 / 640));
    position: relative;
}

.result_modal .result_close img {
    width: 100%;
    height: 100%;
}

.result_modal h2 {
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: calc(100vw * (40 / 640));
    line-height: calc(100vw * (55 / 640));
    letter-spacing: calc(100vw * (-2.4 / 640));
    margin-top: calc(100vw * (80 / 640));
}

.result_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    text-align: center;
    margin-top: calc(100vw * (60 / 640));
    margin-bottom: calc(100vw * (60 / 640));
    padding: 0 calc(100vw * (45 / 640));
}

.result_box .result_imgbox {
    width: calc(100vw * (130 / 640));
    height: calc(100vw * (130 / 640));
}

.result_box .result_imgbox img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.result_box .text_top {
    font-weight: 500;
    font-size: calc(100vw * (23 / 640));
    line-height: calc(100vw * (37 / 640));
    letter-spacing: calc(100vw * (-1.38 / 640));
    margin-top: calc(100vw * (40 / 640));
}

.result_box .text_bottom {
    font-weight: 300;
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (33 / 640));
    letter-spacing: calc(100vw * (-1.2 / 640));
    margin-top: calc(100vw * (40 / 640));
}

.result_box .result_email {
    font-weight: 500;
    padding: calc(100vw * (25 / 640));
    font-size: calc(100vw * (23 / 640));
    line-height: calc(100vw * (37 / 640));
    letter-spacing: calc(100vw * (-0.46 / 640));
    margin-top: calc(100vw * (40 / 640));
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

@media (min-width: 640px) {
    .result_modal {
        padding: 40px;
    }
    .result_modal .result_close {
        width: 30px;
        height: 30px;
    }
    .result_modal h2 {
        font-size: 40px;
        line-height: 55px;
        letter-spacing: -2.4px;
        margin-top: 80px;
    }
    .result_box {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 0 45px;
    }
    .result_box .result_imgbox {
        width: 130px;
        height: 130px;
    }
    .result_box .text_top {
        font-size: 23px;
        line-height: 37px;
        letter-spacing: -1.38px;
        margin-top: 40px;
    }
    .result_box .text_bottom {
        font-size: 20px;
        line-height: 33px;
        letter-spacing: -1.2px;
        margin-top: 40px;
    }
    .result_box .result_email {
        padding: 25px;
        font-size: 23px;
        line-height: 37px;
        letter-spacing: -0.46px;
        margin-top: 40px;
    }
}

.regist_box .input_box {
    margin-top: calc(100vw * (65 / 640));
}

.regist_box .form_input.login_input {
    color: #fff;
}

.regist_box .form_input.login_input::-webkit-input-placeholder {
    color: #fff;
}

.regist_box .form_input.login_input:-ms-input-placeholder {
    color: #fff;
}

.regist_box .form_input.login_input::-ms-input-placeholder {
    color: #fff;
}

.regist_box .form_input.login_input::placeholder {
    color: #fff;
}

.regist_box .form_input.login_input + span {
    background-color: #fff;
    opacity: 0.5;
}

.regist_box .form_input.regist_input,
.regist_box .form_input.qnafaq_input {
    color: #000;
}

.regist_box .form_input.regist_input::-webkit-input-placeholder,
.regist_box .form_input.qnafaq_input::-webkit-input-placeholder {
    color: #d2d2d2;
}

.regist_box .form_input.regist_input:-ms-input-placeholder,
.regist_box .form_input.qnafaq_input:-ms-input-placeholder {
    color: #d2d2d2;
}

.regist_box .form_input.regist_input::-ms-input-placeholder,
.regist_box .form_input.qnafaq_input::-ms-input-placeholder {
    color: #d2d2d2;
}

.regist_box .form_input.regist_input::placeholder,
.regist_box .form_input.qnafaq_input::placeholder {
    color: #d2d2d2;
}

.regist_box .form_input.regist_input ~ span,
.regist_box .form_input.qnafaq_input ~ span {
    background-color: #d2d2d2;
}

.regist_box .form_input:focus ~ span:after {
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.regist_box .input_icon {
    display: block;
    position: absolute;
    right: 0;
    opacity: 0;
    display: none;
    bottom: calc(100vw * (22 / 640));
}

.regist_box .input_icon.delete {
    width: calc(100vw * (22 / 640));
    height: calc(100vw * (22 / 640));
}

.regist_box .input_icon.show_password {
    width: calc(100vw * (32 / 640));
    height: calc(100vw * (22 / 640));
}

.regist_box .input_icon.show_password img {
    display: none;
}

.regist_box .input_icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (min-width: 640px) {
    .regist_box .input_box {
        margin-top: 65px;
    }
    .regist_box .input_icon {
        bottom: 22px;
    }
    .regist_box .input_icon.delete {
        width: 22px;
        height: 22px;
    }
    .regist_box .input_icon.show_password {
        width: 32px;
        height: 22px;
    }
}

.regist_box .input_box {
    margin-top: calc(100vw * (40 / 640));
}

.regist_box .input_box .form_group:not(:last-child) {
    margin-bottom: calc(100vw * (50 / 640));
}

.regist_box .input_box .regist_input {
    font-size: calc(100vw * (23 / 640));
    line-height: calc(100vw * (23 / 640));
    letter-spacing: calc(100vw * (-0.46 / 640));
    padding-right: calc(100vw * (120 / 640));
}

.regist_box .input_box .regist_input + .btn_duplicate_email {
    position: absolute;
    width: calc(100vw * (110 / 640));
    height: calc(100vw * (40 / 640));
    right: 0;
    bottom: calc(100vw * (14 / 640));
    background-color: #000;
    border-radius: calc(100vw * (30 / 640));
    font-weight: 500;
    font-size: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-0.4 / 640));
    color: #fff;
}

.regist_box .input_box .regist_input ~ .input_icon.delete {
    right: calc(100vw * (120 / 640));
}

.regist_box .email_list {
    overflow: auto;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translateY(calc(100vw * (-10 / 640)));
    transform: translateY(calc(100vw * (-10 / 640)));
    position: absolute;
    z-index: 2;
    background-color: #fff;
    width: calc(100% + calc(100vw * (12 / 640)));
    margin-left: calc(100vw * (-12 / 640));
    display: none;
    height: 0;
    border: 1px solid #a5a5a5;
}

.regist_box .email_list li {
    height: calc(100vw * (60 / 640));
    padding: calc(100vw * (18 / 640)) calc(100vw * (12 / 640));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.regist_box .email_list li:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}

.regist_box .email_list li span {
    color: #000;
    font-weight: 500;
    font-size: calc(100vw * (23 / 640));
    line-height: calc(100vw * (23 / 640));
    letter-spacing: calc(100vw * (-0.46 / 640));
}

.regist_box .email_list li span.email_address {
    color: #68c0b5;
}

/* 고정 메세지 추가 220706 ajy */
.regist_box .input_box .form_group.is_guide {
    margin-bottom: calc(100vw * (85 / 640));
}
.regist_box .guide_text {
    font-size: calc(100vw * (18 / 640));
    letter-spacing: calc(100vw * (-1.08 / 640));
    bottom: calc(100vw * (-45 / 640));
    position: absolute;
    color: #a5a5a5;
    transition: bottom 0.3s;
}
.regist_box .form_input.error ~ .guide_text {
    bottom: calc(100vw * (-63 / 640));
    transition: bottom 0.3s;
}

@media (min-width: 640px) {
    .regist_box .input_box {
        margin-top: 40px;
    }
    .regist_box .input_box .form_group:not(:last-child) {
        margin-bottom: 50px;
    }
    .regist_box .input_box .regist_input {
        font-size: 23px;
        line-height: 23px;
        letter-spacing: -0.46px;
        padding-right: 120px;
    }
    .regist_box .input_box .regist_input + .btn_duplicate_email {
        width: 110px;
        height: 40px;
        bottom: 14px;
        border-radius: 30px;
        font-size: 20px;
        letter-spacing: -0.4px;
    }
    .regist_box .input_box .regist_input ~ .input_icon.delete {
        right: 120px;
    }
    .regist_box .email_list {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        width: calc(100% + 12px);
        margin-left: -12px;
    }
    .regist_box .email_list li {
        height: 60px;
        padding: 18px 12px;
    }
    .regist_box .email_list li span {
        font-size: 23px;
        line-height: 23px;
        letter-spacing: -0.46px;
    }

    /* 고정 메세지 추가 220706 ajy */
    .regist_box .input_box .form_group.is_guide {
        margin-bottom: 85px;
    }
    .regist_box .guide_text {
        font-size: 18px;
        letter-spacing: -1.08px;
        bottom: -45px;
    }
    .regist_box .form_input.error ~ .guide_text {
        bottom: -63px;
    }
}

.regist_box .agree_box {
    margin-top: calc(100vw * (56 / 640));
    /*padding: calc(100vw * (14 / 640)) 0 calc(100vw * (23 / 640));*/
    padding: calc(100vw * (23 / 640)) 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.regist_box .all_check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*padding-bottom: calc(100vw * (14 / 640));*/
    /*margin-bottom: calc(100vw * (14 / 640));*/
    /*border-bottom: 0.5px solid #060606;*/

    position:relative;
}

.regist_box .all_check summary {
    width: 100%;
    z-index: 3;
}

.regist_box .all_check:after {
    /* 수정 */
    font-size: calc(100vw*(10 / 640));
    top: calc(100vw*(7 /640));
    right: calc(100vw*(7 /640));
    content: '';
    display: block;
    position: absolute;
    border-bottom-color: #060606;
    border-left-width: 1em;
    border-right-width: 1em;
    border-bottom-width: 1.732em;
    border-left-color: transparent;
    border-right-color: transparent;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    width: 0;
    height: 0;
    transform: rotate(0deg);
    transition: transform 0.3s;
    z-index: 1;
}

.regist_box .all_check[open]:after {
    /* 수정 */
    transform: rotate(180deg);
}

.regist_box .all_check .form_checkbox .form_label{
    font-size: calc(100vw * (27 / 640));
    line-height: calc(100vw * (27 / 640));

}

.regist_box .all_check h3 {
    color: #060606;
    font-weight: 300;
    font-size: calc(100vw * (27 / 640));
    line-height: calc(100vw * (27 / 640));
    letter-spacing: calc(100vw * (-1.62 / 640));
}
.regist_box .agree_list{
    margin-top: calc(100vw*(20 / 640));
    padding-top: calc(100vw*(20 / 640));
    border-top: 0.5px solid #060606;
}
.regist_box .agree_list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.regist_box .agree_list li:not(:last-child) {
    margin-bottom: calc(100vw * (12 / 640));
}

.regist_box .agree_list li a {
    position: relative;
    display: inline-block;
    color: #000;
    font-weight: 500;
    font-size: calc(100vw * (20 / 640));
    line-height: calc(100vw * (20 / 640));
    letter-spacing: calc(100vw * (-1.2 / 640));
}

.regist_box .agree_list li a:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #000;
}

@media (min-width: 640px) {
    .regist_box .agree_box {
        margin-top: 56px;
        /*padding: 14px 0 23px;*/
        padding: 23px 0;
    }
    .regist_box .all_check {
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    .regist_box .all_check:after {

        font-size: 10px;
        top: 7px;
        right: 7px;
    }
    .regist_box .all_check .form_checkbox .form_label {

        font-size: 27px;
        line-height: 27px;
    }
    .regist_box .all_check h3 {
        font-size: 27px;
        line-height: 27px;
        letter-spacing: -1.62px;
    }
    .regist_box .agree_list{
        margin-top: 20px;
        padding-top:20px;
        border-top: 0.5px solid #060606;
    }
    .regist_box .agree_list li:not(:last-child) {
        margin-bottom: 12px;
    }
    .regist_box .agree_list li a {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -1.2px;
    }
}
